GROWNERVE_DATABASE_URL=postgresql://grownerve:grownerve@127.0.0.1:5432/grownerve?sslmode=disable
MIGRATION_DATABASE_URL=postgresql://postgres:postgres@127.0.0.1:5432/grownerve?sslmode=disable
APP_ENV=development
APP_SERVER__ADDRESS=127.0.0.1:8080
APP_MQTT__BROKER=tcp://127.0.0.1:1883
GROWNERVE_POSTGRES_PORT=5432
GROWNERVE_MQTT_PORT=1883
GROWNERVE_API_PORT=8080
